.list-items-box {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 1; /* Ensure it's above other elements */
    /* Adjust the following properties for position as needed */
    top: 110px; /* Example top position */
    left: 37%; /* Example left position */
    width: 60%; /* Example width */
}

.edit-button {
    position: absolute;
    top: 10%;
    right: 10px; 
    transform: translateY(-50%);
    z-index: 1; /* Ensure the button is above the textarea */
  }