.list-items-box {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 1; /* Ensure it's above other elements */
  /* Adjust the following properties for position as needed */
  top: 65px; 
  left: 10%; 
  width: 270px; 
  max-height: 200px;
  overflow-y: auto;
  border: 1px solid #ccc; 
}

.button-container {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  z-index: 2; /* Ensure the button container is above the list items */
  padding: 5px;
  border-bottom: 1px solid #ccc; /* Optional: Add a border to separate the buttons from the list */
}

.edit-button {
  position: absolute;
  top: 20%;
  right: 10px; 
  transform: translateY(-50%);
  z-index: 1; /* Ensure the button is above the textarea */
}
  
.list-item {
  padding: 2px 0; /* Optional: Adds spacing between list items */
}
  