
<div class="card card-animate" (click)="loadModule()">

    <div class="card-body moduleDecorator">

        <div class="d-flex align-items-center">

            <div class="avatar-sm flex-shrink-0">

                <!-- <span class="avatar-title  text-primary rounded-2 fs-2 bg-soft-primary" >
                    <img src="{{moduleImage}}" alt="" class="img-fluid d-block" />
                </span> -->


            </div>

            <div class="flex-grow-1 overflow-hidden ms-3">
                
                <p class="text-uppercase fw-semibold text-muted text-truncate mb-3">{{title}}</p>

            </div>

        </div>

    </div><!-- end card body -->
    
</div>