.application-icon {
  img {
    width: 100px;
    height: auto;
  }
}

.application-name {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  padding-top: 5px;
  text-align: center;
}

.application-tile {
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-direction: row;
  padding: 0;
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Make sure the div takes full height */
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */

  width: 200px;
  height: 200px;
  transition: background-color 0.2s ease-in-out !important;

  &:hover {
    transform: translateY(-5px);
    background-color: rgba(255, 255, 255, 0.85) !important;
  }

  &:hover .application-name {
    color: #000000 !important; /* Change the text color on hover */
  }
}

@media (max-width: 480px) {
  .application-tile {
    width: 150px;
    height: 150px;
    text-align: center;
  }

  .application-icon {
    img {
      width: 75px;
    }
  }

  .application-name {
    font-size: 12px;
  }
}
