.custom_row{
    width: 111% !important
}

.custom_checkbox {
    width: 30px;
    height: 20px;

    margin-top: 4px;
    //margin-bottom: 0%;
    //margin-right: 2%;
  }

// @media screen and (max-width: 767px) {
//     .custom_checkbox {
//         width: 20px;
//         height: 13px;
    
//         margin-top: 10%;
//         margin-bottom: 1%;
//         margin-right: 2%;
//       }
// }

.custom-font {
    font-size: 12px;
    padding-bottom: 10px 
  };

.custom-square-checkbox {
    //width: 30px;
    //height: 20px;

    margin-top: 4px;
    //margin-bottom: 0%;
    //margin-right: 2%;
}

hr{
    color: rgb(196, 196, 196);
}

.dark-line{
    color: rgb(160, 160, 160);
}

.zero-padding-right {
    padding-right: 0 !important
  };

.zero-padding-top {
    padding-top: 0 
};

// @media screen and (max-width: 1200px) {
//     .custom-font {
//         font-size: 10px;
//       };
// }

// @media screen and (max-width: 925px) {
//     .custom-font {
//         font-size: 8px;
//       };
// }

// @media screen and (max-width: 767px) {

// }

  