<div class="row mb-5 justify-content-center">
  <div class="card" style="width: 75rem; padding-top: 1rem">
    <!--Time Limitation-->
    <div class="container">
      <div class="card-header">
        <h4>Common Settings</h4>
      </div>
      <br />

      <div class="mb-3">
        <div class="card-header">
          <h5>Time Limitation</h5>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-9 col-sm-9 col-md-9 col-lg-9 py-1">
              Extension Page Default Selecting Range
            </div>
            <div
              class="col-3 col-sm-3 col-md-3 col-lg-3 form-check form-switch py-1"
            >
              <div class="form-group">
                <!-- <select class="form-select form-select-sm" id="extendDuration"
                    [(ngModel)]="selectedExtendDurationOption">
                    <option *ngFor="let option of extendDurationOptionList" [value]="option.days">
                      {{ option.term }}
                    </option>
                  </select> -->
              </div>
            </div>

            <div class="col-9 col-sm-9 col-md-9 col-lg-9 py-1">
              Standing Order Page Default Selecting Range
            </div>
            <div
              class="col-3 col-sm-3 col-md-3 col-lg-3 form-check form-switch py-1"
            >
              <div class="form-group">
                <!-- <select class="form-select form-select-sm" id="standingOrdersDuration"
                    [(ngModel)]="selectedStandingOrderDurationOption">
                    <option *ngFor="let option of standingOrderDurationOptionList" [value]="option.days">
                      {{ option.term }}
                    </option>
                  </select> -->
              </div>
            </div>

            <div class="col-9 col-sm-9 col-md-9 col-lg-9 py-1">
              Extension Report Page Default Selecting Range
            </div>
            <div
              class="col-3 col-sm-3 col-md-3 col-lg-3 form-check form-switch py-1"
            >
              <div class="form-group">
                <!-- <select class="form-select form-select-sm" id="extensionReportDuration"
                    [(ngModel)]="selectedExtensionReportDurationOption">
                    <option *ngFor="let option of extensionReportDurationOptionList" [value]="option.days">
                      {{ option.term }}
                    </option>
                  </select> -->
              </div>
            </div>

            <div class="col-9 col-sm-9 col-md-9 col-lg-9 py-1">
              Standing Order Report Page Default Selecting Range
            </div>
            <div
              class="col-3 col-sm-3 col-md-3 col-lg-3 form-check form-switch py-1"
            >
              <div class="form-group">
                <!-- <select class="form-select form-select-sm" id="standingOrderReportDuration"
                    [(ngModel)]="selectedStandingOrderReportDurationOption">
                    <option *ngFor="let option of standingOrderReportDurationOptionList" [value]="option.days">
                      {{ option.term }}
                    </option>
                  </select> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Pagination-->
      <div class="mb-3">
        <div class="card-header">
          <h5>Page Setting</h5>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-9 col-sm-9 col-md-9 col-lg-9 py-1">
              Default Page Size for Tables
            </div>
            <div
              class="col-3 col-sm-3 col-md-3 col-lg-3 form-check form-switch py-1"
            >
              <div class="form-group">
                <!-- <select class="form-select form-select-sm" id="paginatePageSize" [(ngModel)]="selectedPaginatePageSize">
                    <option *ngFor="let option of paginatePageSizeList" [value]="option">
                      {{ option }}
                    </option>
                  </select> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Date Time-->

      <div>
        <div class="card-header">
          <h5>Date Time</h5>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-9 col-sm-9 col-md-9 col-lg-9 py-1">
              System Date Format
            </div>
            <div
              class="col-3 col-sm-3 col-md-3 col-lg-3 form-check form-switch py-1"
            >
              <div class="form-group">
                <!-- <select
                  class="form-select form-select-sm"
                  id="dateFormat"
                  [(ngModel)]="selectedDateFormat"
                >
                  <option
                    *ngFor="let option of dateFormatList"
                    [value]="option.value"
                  >
                    {{ option.term }}
                  </option>
                </select> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-9 col-sm-9 col-md-9 col-lg-9 py-1">
              System Time Format
            </div>
            <div
              class="col-3 col-sm-3 col-md-3 col-lg-3 form-check form-switch py-1"
            >
              <div class="form-group">
                <!-- <select
                  class="form-select form-select-sm"
                  id="dateFormat"
                  [(ngModel)]="selectedTimeFormat"
                >
                  <option
                    *ngFor="let option of timeFormatList"
                    [value]="option.value"
                  >
                    {{ option.term }}
                  </option>
                </select> -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-9 col-sm-9 col-md-9 col-lg-9 py-1"></div>
            <div
              class="col-3 col-sm-3 col-md-3 col-lg-3 form-check form-switch py-1"
            >
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary float-end mt-3 mb-2"
                >
                  Save
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
