<div class="row mb-5 justify-content-center">
  <div class="card" style="width: 75rem; padding-top: 1rem">
    <!---->
    <div class="container">
      <div class="card-header">
        <h4>Password Policy</h4>
      </div>
      <br />

      <!-- <div class="mb-0"> -->
      <!-- <div class="card-header">
          <h5>Time Limitation</h5>
        </div> -->

      <div class="card-body">
        <!-- Password Length (min) ---------------------------------------------------------------------------------------->
        <div class="row justify-content-md-strart custom_row">
          <div class="col-6 col-sm-6 col-md-7 col-lg-8 py-1">
            Password Length (min)
          </div>

          <div
            class="col-5 col-sm-5 col-md-4 col-lg-3 form-check form-switch py-1"
          >
            <div class="form-group justify-content">
              <div class="row justify-content-md-end custom_row">
                <div class="col-2">
                  <input
                    class="form-check-input custom_checkbox"
                    type="checkbox"
                    role="switch"
                    id="passwordMinLengthCheckbox"
                    [checked]="canChangePasswordLengthMin"
                    (change)="toggleChangePasswordLengthMin()"
                  />
                </div>
                <div class="col-10">
                  <input
                    *ngIf="!canChangePasswordLengthMin"
                    disabled
                    class="form-control form-control-sm"
                  />
                  <input
                    *ngIf="canChangePasswordLengthMin"
                    type="number"
                    [min]="passwordMinLengthDefault"
                    [max]="passwordMaxLength || passwordMaxLengthDefault"
                    [(ngModel)]="passwordMinLength"
                    id="passwordMinLength"
                    class="form-control form-control-sm"
                    [disabled]="!canChangePasswordLengthMin"
                    inputmode="none"
                    (input)="validateInput($event)"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Password Length (max) ---------------------------------------------------------------------------------------->
        <div class="row justify-content-md-strart custom_row">
          <div class="col-6 col-sm-6 col-md-7 col-lg-8 py-1">
            Password Length (max)
          </div>
          <div
            class="col-5 col-sm-5 col-md-4 col-lg-3 form-check form-switch py-1"
          >
            <div class="form-group justify-content">
              <div class="row justify-content-md-end custom_row">
                <div class="col-2">
                  <input
                    class="form-check-input custom_checkbox"
                    type="checkbox"
                    role="switch"
                    id="passwordMaxLengthCheckbox"
                    [checked]="canChangePasswordLengthMax"
                    (change)="toggleChangePasswordLengthMax()"
                  />
                </div>
                <div class="col-10">
                  <input
                    *ngIf="!canChangePasswordLengthMax"
                    disabled
                    class="form-control form-control-sm"
                  />
                  <input
                    *ngIf="canChangePasswordLengthMax"
                    type="number"
                    [min]="passwordMinLength || passwordMinLengthDefault"
                    [max]="passwordMaxLengthDefault"
                    [(ngModel)]="passwordMaxLength"
                    id="passwordMaxLength"
                    class="form-control form-control-sm"
                    [disabled]="!canChangePasswordLengthMax"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <!-- Required ---------------------------------------------------------------------------------------->
        <div class="row justify-content-md-strart custom_row mt-4">
          <div class="col-12 col-lg-2 py-1 d-flex flex-column">Required</div>
          <div
            class="col-12 col-lg-10 d-flex flex-column form-check form-switch py-1"
          >
            <div class="form-group justify-content">
              <div class="row justify-content-md-center custom_row">
                <div class="col-12 col-md-2 col-lg-2 d-flex flex-column">
                  <div class="row">
                    <div class="col-2">
                      <input
                        class="custom-square-checkbox"
                        type="checkbox"
                        role="switch"
                        id="lettersCheckbox"
                        [checked]="isAbleLetters"
                        (change)="toggleLetters()"
                      />
                    </div>
                    <div class="col-10">
                      <span class="custom-font">Letters</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-2 col-lg-2 d-flex flex-column">
                  <div class="row">
                    <div class="col-2">
                      <input
                        class="custom-square-checkbox"
                        type="checkbox"
                        role="switch"
                        id="numericCharactersCheckbox"
                        [checked]="isAbleNumericCharacters"
                        (change)="toggleNumericCharacters()"
                      />
                    </div>
                    <div class="col-10">
                      <span class="custom-font">Numeric Characters</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-2 col-lg-2 d-flex flex-column">
                  <div class="row">
                    <div class="col-2">
                      <input
                        class="custom-square-checkbox"
                        type="checkbox"
                        role="switch"
                        id="specialCharactersCheckbox"
                        [checked]="isAbleSpecialCharacters"
                        (change)="toggleSpecialCharacters()"
                      />
                    </div>
                    <div class="col-10">
                      <span class="custom-font">Special Characters</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-2 col-lg-2 d-flex flex-column">
                  <div class="row">
                    <div class="col-2">
                      <input
                        class="custom-square-checkbox"
                        type="checkbox"
                        role="switch"
                        id="mixedCaseLettersCheckbox"
                        [checked]="isAbleMixedCaseLetters"
                        (change)="toggleMixedCaseLetters()"
                      />
                    </div>
                    <div class="col-10">
                      <span class="custom-font">Mixed Case Letters</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />

        <!-- Password Minimum Validity ---------------------------------------------------------------------------------------->
        <!-- <div class="row justify-content-md-strart custom_row">
          <div class="col-6 col-sm-6 col-md-7 col-lg-8 py-1">
            Password Minimum Validity
          </div>
          <div
            class="col-5 col-sm-5 col-md-4 col-lg-3 form-check form-switch py-1"
          >
            <div class="form-group justify-content">
              <div class="row justify-content-md-end custom_row">
                <div class="col-2">
                  <input
                    class="form-check-input custom_checkbox"
                    type="checkbox"
                    role="switch"
                    id="passwordMinimumValidityCheckbox"
                    [checked]="canChangePasswordMinimumValidity"
                    (change)="toggleChangePasswordMinimumValidity()"
                  />
                </div>
                <div class="col-10">
                  <div class="row">
                    <div
                      class="col-5 col-sm-4 col-md-4 col-lg-5 zero-padding-right"
                    >
                      <input
                        type="number"
                        min="0"
                        [(ngModel)]="passwordMinimumValidity"
                        id="passwordMaxLength"
                        class="form-control form-control-sm"
                        [disabled]="!canChangePasswordMinimumValidity"
                      />
                    </div>
                    <div class="col-7 col-sm-8 col-md-8 col-lg-7">
                      <select
                        class="form-select form-select-sm"
                        id="standingOrdersDuration"
                        [(ngModel)]="passwordMinimumValidityTimeUnit"
                        [disabled]="!canChangePasswordMinimumValidity"
                      >
                        <option
                          class="custom-font"
                          *ngFor="let option of timeUnitsList"
                          [value]="option.id"
                        >
                          {{ option.value }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- Password Expiry ---------------------------------------------------------------------------------------->
        <div class="row justify-content-md-strart custom_row mt-4">
          <div class="col-6 col-sm-6 col-md-7 col-lg-8 py-1">
            Password Expiry
          </div>
          <div
            class="col-5 col-sm-5 col-md-4 col-lg-3 form-check form-switch py-1"
          >
            <div class="form-group justify-content">
              <div class="row justify-content-md-end custom_row">
                <div class="col-2">
                  <input
                    class="form-check-input custom_checkbox"
                    type="checkbox"
                    role="switch"
                    id="passwordExpiryCheckbox"
                    [checked]="canChangePasswordExpiry"
                    (change)="toggleChangePasswordExpiry()"
                  />
                </div>
                <div class="col-10">
                  <div class="row">
                    <div
                      class="col-5 col-sm-4 col-md-4 col-lg-5 zero-padding-right"
                    >
                      <input
                        *ngIf="!canChangePasswordExpiry"
                        disabled
                        class="form-control form-control-sm"
                      />
                      <input
                        *ngIf="canChangePasswordExpiry"
                        type="number"
                        min="0"
                        [(ngModel)]="passwordExpiry"
                        id="passwordMaxLength"
                        class="form-control form-control-sm"
                        [disabled]="!canChangePasswordExpiry"
                      />
                    </div>
                    <div class="col-7 col-sm-8 col-md-8 col-lg-7">
                      <select
                        *ngIf="!canChangePasswordExpiry"
                        class="form-select form-select-sm"
                        disabled
                      ></select>
                      <select
                        *ngIf="canChangePasswordExpiry"
                        class="form-select form-select-sm"
                        id="standingOrdersDuration"
                        [(ngModel)]="passwordExpiryTimeUnit"
                        [disabled]="!canChangePasswordExpiry"
                      >
                        <option
                          class="custom-font"
                          *ngFor="let option of timeUnitsList"
                          [value]="option.id"
                        >
                          {{ option.value }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <hr /> -->

        <!-- Password Expiry Warning ---------------------------------------------------------------------------------------->
        <div class="row justify-content-md-strart custom_row">
          <div class="col-6 col-sm-6 col-md-7 col-lg-8 py-1">
            Password Expiry Warning
          </div>
          <div
            class="col-5 col-sm-5 col-md-4 col-lg-3 form-check form-switch py-1"
          >
            <div class="form-group justify-content">
              <div class="row justify-content-md-end custom_row">
                <div class="col-2">
                  <input
                    class="form-check-input custom_checkbox"
                    type="checkbox"
                    role="switch"
                    id="passwordExpiryWarningCheckbox"
                    [checked]="passwordExpiryWarning"
                    (change)="toggleChangePasswordExpiryWarning()"
                  />
                </div>
                <div class="col-10">
                  <!-- <div class="row">
                    <div
                      class="col-5 col-sm-4 col-md-4 col-lg-5 zero-padding-right"
                    >
                      <input
                        type="number"
                        min="0"
                        [(ngModel)]="passwordMaxLength"
                        id="passwordMaxLength"
                        class="form-control form-control-sm"
                        [disabled]="!passwordExpiryWarning"
                      />
                    </div>
                    <div class="col-7 col-sm-8 col-md-8 col-lg-7">
                      <select
                        class="form-select form-select-sm"
                        id="standingOrdersDuration"
                        [(ngModel)]="selectedTimeUnit"
                        [disabled]="!passwordExpiryWarning"
                      >
                        <option
                          class="custom-font"
                          *ngFor="let option of timeUnitsList"
                          [value]="option.id"
                        >
                          {{ option.value }}
                        </option>
                      </select>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Password Repeat Check ---------------------------------------------------------------------------------------->
        <div class="row justify-content-md-strart custom_row mb-4">
          <div class="col-6 col-sm-6 col-md-7 col-lg-8 py-1">
            Password Repeat Check
          </div>
          <div
            class="col-5 col-sm-5 col-md-4 col-lg-3 form-check form-switch py-1"
          >
            <div class="form-group justify-content">
              <div class="row justify-content-md-end custom_row">
                <div class="col-2">
                  <input
                    class="form-check-input custom_checkbox"
                    type="checkbox"
                    role="switch"
                    id="passwordRepeatCheckCheckbox"
                    [checked]="canChangePasswordRepeatCheck"
                    (change)="toggleChangePasswordRepeatCheck()"
                  />
                </div>
                <div class="col-10">
                  <input
                    *ngIf="!canChangePasswordRepeatCheck"
                    disabled
                    class="form-control form-control-sm"
                  />
                  <input
                    *ngIf="canChangePasswordRepeatCheck"
                    type="number"
                    min="0"
                    [(ngModel)]="passwordRepeatCheck"
                    id="passwordMaxLength"
                    class="form-control form-control-sm"
                    [disabled]="!canChangePasswordRepeatCheck"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="dark-line" />
      </div>
      <!-- </div> -->

      <!-- Account Lockout////////////////////////////////////////////////////////////////////////////////////////////// -->

      <div class="card-body">
        <!-- Account Lockout --------------------------------------------------------------------------------------->
        <div class="row justify-content-md-strart custom_row mb-4">
          <div class="col-5 col-md-3 col-lg-2 d-flex flex-column py-1">
            <b>Account Lockout</b>
          </div>

          <div
            class="col-7 col-md-9 col-lg-10 form-check form-switch d-flex flex-column"
          >
            <input
              class="form-check-input custom_checkbox"
              type="checkbox"
              role="switch"
              id="accountLockoutCheckbox"
              [checked]="canChangeAccountLockout"
              (change)="toggleChangeAccountLockout()"
            />
          </div>
        </div>

        <!-- Max Attempts ---------------------------------------------------------------------------------------->
        <div class="row justify-content-md-strart custom_row">
          <div class="col-6 col-sm-6 col-md-7 col-lg-8 py-1">Max Attempts</div>
          <div
            class="col-5 col-sm-5 col-md-4 col-lg-3 form-check form-switch py-1"
          >
            <div class="form-group justify-content">
              <div class="row justify-content-md-end custom_row">
                <div class="col-2">
                  <!-- <input
                    class="form-check-input custom_checkbox"
                    type="checkbox"
                    role="switch"
                    id="passwordMaxLengthCheckbox"
                    [checked]="canChangePasswordLengthMax"
                    (change)="toggleChangePasswordLengthMax()"
                  /> -->
                </div>
                <div class="col-10">
                  <input
                    *ngIf="!canChangeAccountLockout"
                    disabled
                    class="form-control form-control-sm"
                  />
                  <input
                    *ngIf="canChangeAccountLockout"
                    type="number"
                    min="0"
                    [(ngModel)]="maxAttempts"
                    id="passwordMaxLength"
                    class="form-control form-control-sm"
                    [disabled]="!canChangeAccountLockout"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Lockout Duration ---------------------------------------------------------------------------------------->
        <div class="row justify-content-md-strart custom_row">
          <div class="col-6 col-sm-6 col-md-7 col-lg-8 py-1">
            Lockout Duration
          </div>
          <div
            class="col-5 col-sm-5 col-md-4 col-lg-3 form-check form-switch py-1"
          >
            <div class="form-group justify-content">
              <div class="row justify-content-md-end custom_row">
                <div class="col-2">
                  <!-- <input
                    class="form-check-input custom_checkbox"
                    type="checkbox"
                    role="switch"
                    id="passwordMaxLengthCheckbox"
                    [checked]="canChangePasswordLengthMax"
                    (change)="toggleChangePasswordLengthMax()"
                  /> -->
                </div>
                <div class="col-10">
                  <div class="row">
                    <div
                      class="col-5 col-sm-4 col-md-4 col-lg-5 zero-padding-right"
                    >
                      <input
                        *ngIf="!canChangeAccountLockout"
                        disabled
                        class="form-control form-control-sm"
                      />
                      <input
                        *ngIf="canChangeAccountLockout"
                        type="number"
                        min="0"
                        [(ngModel)]="lockoutDuration"
                        id="passwordMaxLength"
                        class="form-control form-control-sm"
                        [disabled]="!canChangeAccountLockout"
                      />
                    </div>
                    <div class="col-7 col-sm-8 col-md-8 col-lg-7">
                      <select
                        *ngIf="!canChangeAccountLockout"
                        class="form-select form-select-sm"
                        disabled
                      ></select>
                      <select
                        *ngIf="canChangeAccountLockout"
                        class="form-select form-select-sm"
                        id="standingOrdersDuration"
                        [(ngModel)]="lockoutDurationTimeUnit"
                        [disabled]="!canChangeAccountLockout"
                      >
                        <option
                          class="custom-font"
                          *ngFor="let option of timeUnitsList"
                          [value]="option.id"
                        >
                          {{ option.value }}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Retry Attempts ---------------------------------------------------------------------------------------->
        <!-- <div class="row justify-content-md-strart custom_row">
          <div class="col-6 col-sm-6 col-md-7 col-lg-8 py-1">
            Retry Attempts
          </div>
          <div
            class="col-5 col-sm-5 col-md-4 col-lg-3 form-check form-switch py-1"
          >
            <div class="form-group justify-content">
              <div class="row justify-content-md-end custom_row">
                <div class="col-2">
                </div>
                <div class="col-10">
                  <input
                    type="number"
                    min="0"
                    [(ngModel)]="retryAttempts"
                    id="passwordMaxLength"
                    class="form-control form-control-sm"
                    [disabled]="!canChangeAccountLockout"
                  />
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <hr class="dark-line" />
      </div>
    </div>

    <!-- Submit Button//////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="container mb-4">
      <div class="card-body zero-padding-top">
        <div class="form-group">
          <button
            type="submit"
            (click)="onSubmitClicked()"
            class="btn btn-primary float-end mb-2"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
