.page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    overflow: hidden;
    position: static;
}

.logo {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

    img {
        height: 75px;
        text-align: center;
    }
}

.wrapper {
    width: 420px;
    background: rgba(0, 0, 0, .2);
    border: 2px solid rgba(255, 255, 255, .2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #fff;
    border-radius: 20px;
    padding: 30px;

    .input-box {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 20px 0;

        input {
            width: 100%;
            height: 100%;
            background: transparent;
            border: 2px solid rgba(255, 255, 255, .2);
            outline: none;
            border-radius: 45px;
            font-size: 16px;
            color: #fff;
            padding: 20px 45px 20px 20px;

            &::placeholder {
                color: #ffffff91;
            }
        }

        i {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
        }

        .pw-toggle {
            cursor: pointer;
        }
    }

    .remember-forget {
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: 0px 0 10px;

        label input {
            color: #fff;
            margin-right: 3px;
        }

        a {
            color: #b8b6b6;
            text-decoration: none;
            font-size: 12px;

            &:hover {
                text-decoration: underline;
                color: rgb(255, 255, 255);
            }
        }
    }
}

.footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    height: 30px;
    background-color: transparent;

    p {
        text-align: center;
        padding: 5px 0;
        margin: 0;
        width: 100%;
        font-size: smaller;
        color: rgba(255, 255, 255, .3);
    }
}