/* Add this CSS to position the pencil icon */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.img{
    margin-left: 55px;
}

.bottom-0 {
    bottom: 0;
}

.end-0 {
    right: 0;
}