<div class="container">
  <div class="row px-1 px-md-5">
    <div class="profile mt-5 mb-5">
      <div class="mb-2">
        <img class="rounded-circle header-profile-user avatar-md" [src]="profileImage" (error)="fallbackImage($event)"
          alt="User Avatar">
      </div>
      <h4 class="greeting">{{greetBasedOnTime}},</h4>
      <div class="name">
        <h3 class="pe-2 m-0">{{userName}}</h3>
        <a [routerLink]="['/user-account']" class="edit-btn btn btn-sm btn-dark rounded-pill">
          <i class='bi bi-pencil-fill'></i> Edit
        </a>
      </div>
      <div class="role">
        <p class="pe-2 m-0 fw-normal">You are logged in as {{userRole}}</p>
        <span (click)="logout()" class="logout-btn btn btn-sm btn-danger rounded-pill">
          <i class='bi bi-box-arrow-right'></i> Sign out
        </span>
      </div>
    </div>
  </div>

  <div class="applications-grid">
    <div class="bg-light application-tile border border-1 border-secondary" *ngFor="let menu of menuItems">
      <app-dashboard-card [subMenus]="menu.subItems[0]"></app-dashboard-card>
    </div>
  </div>
</div>