.profile {
  width: 100%;
  text-align: center;

  .name {
    display: flex;
    align-items: center;
    justify-content: center;

    .edit-btn {
      font-size: 10px;
      padding: 2px 5px;
      cursor: pointer;
    }
  }

  .role {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-top: 7px;

    .logout-btn {
      font-size: 10px;
      padding: 2px 5px;
      cursor: pointer;
    }
  }
}

// .applications-grid {
//   display: grid;
//   justify-content: center;
//   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//   gap: 20px;
// }

.applications-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* To allow items to wrap to the next line */
  gap: 20px;
}

.applications-grid > * {
  flex: 1 1 200px; /* Allows items to grow, shrink, and have a minimum width of 200px */
  max-width: calc(33.33% - 40px); /* Assuming you want three items per row with a gap of 20px */
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

/* Media queries for responsiveness */
@media (min-width: 1200px) {
  .applications-grid > * {
    max-width: calc(33.33% - 20px); /* 3 items per row on large screens */
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .applications-grid > * {
    max-width: calc(33.33% - 20px); /* 3 items per row on medium screens */
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .applications-grid > * {
    max-width: calc(50% - 20px); /* 2 items per row on small screens */
  }
}

@media (max-width: 767.98px) {
  .applications-grid > * {
    max-width: calc(100% - 20px); /* 1 item per row on extra small screens */
  }
}

.application-tile {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.2s;
  cursor: pointer;

  &:hover {
    transform: translateY(-5px);
  }
}