<div class="row align-items-center" *ngIf="loadingInProgress">
  <app-waiting-circle></app-waiting-circle>
</div>

<div class="row mb-4 mx-1  {{ loadingInProgress ? 'hidden' : '' }}">
    <div class="row mb-3 mx-1">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-2 col-lg-4 mt-1"><h2>API Tokens</h2></div>
      
              <div class="col-10 col-lg-8 mt-1">
                <a
                  class="btn btn-primary float-end"
                  (click)="onAddTokenButtonClicked()"
                >
                  <i
                    class="bi bi-plus-square-fill label-icon align-middle fs-16 me-2"
                  ></i>
                  Add Token</a
                >
              </div>

            </div>
          </div>
      
          <div class="card-body pb-3">
            <app-table
            *ngIf="!loadingInProgress"
            [headArray]="headArray"
            [dataArray]="tableData"
            [dataTableOptions]="tokenConfigTableOptions"
            [totalRowsInSelection]="totalDataCount"
            [selectedPageSize]="selectedPageSize"
            [selectedPage]="selectedPage"
            (onPaginationChanged)="onPaginationChange($event)"
            (onPagesizeChanged)="onPagesizeChange($event)"
            (onEdit)="onEditButtonClicked($event)"
            (onDelete)="deleteTokens($event)"
            (onRowDoubleClick)="onViewButtonClicked($event)"
            (dblClick)="onViewButtonClicked($event)">
            </app-table>
          </div>
        </div>
      </div>
