<div class="mt-2">
  <ul class="pagination justify-content-center justify-content-lg-end">
    <select class="form-select form-select-sm w-auto me-2" aria-label="select example">
      <option selected>20</option>
      <option value="1">50</option>
      <option value="2">100</option>
    </select>
    <li class="page-item disabled">
      <span class="page-link">
        <i class="bi bi-chevron-double-left"></i>
        <span class="d-none d-lg-inline-block">First</span>
      </span>
    </li>
    <li class="page-item disabled">
      <span class="page-link">
        <i class="bi bi-chevron-left"></i>
        <span class="d-none d-lg-inline-block">Back</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <span class="page-link">
        2
        <span class="sr-only">(current)</span>
      </span>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">
        <span class="d-none d-lg-inline-block">Next</span>
        <i class="bi bi-chevron-right"></i>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" href="#">
        <span class="d-none d-lg-inline-block">Last</span>
        <i class="bi bi-chevron-double-right"></i>
      </a>
    </li>
  </ul>
</div>