<div class="modal-header">
  <h5 class="modal-title fs-4" id="addReadingsModal">{{ modalTitle }}</h5>
  <button
    id="btnCommonModalClose"
    type="button"
    class="bg-transparent border-0"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">
      <i class="bi bi-x-lg text-dark"></i>
    </span>
  </button>
</div>

<form #form="ngForm" (ngSubmit)="onFormSubmit()">
  <div class="col modal-body col-12">
    <div class="col-12">
      <div class="mb-3">
        <label class="col-form-label">User Name*</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="userName"
          name="userName"
          [disabled]="type == 'View'"
        />
        <div class="input-group"></div>
      </div>
    </div>

    <div class="col-12">
      <div class="mb-3">
        <label class="col-form-label">First Name*</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="firstName"
          name="firstName"
          [disabled]="type == 'View'"
        />
      </div>
    </div>

    <div class="col-12">
      <div class="mb-3">
        <label class="col-form-label">Last Name*</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="lastName"
          name="lastName"
          [disabled]="type == 'View'"
        />
      </div>
    </div>

    <div class="col-12">
      <div class="mb-3">
        <label class="col-form-label">Phone Number</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="phoneNumber"
          name="phoneNumber"
          [disabled]="type == 'View'"
        />
      </div>
    </div>

    <div class="col-12">
      <div class="mb-3">
        <label class="col-form-label">Email*</label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="email"
          name="email"
          [disabled]="type == 'View'"
        />
      </div>
    </div>

    <!-- <div class="col-12" *ngIf="type != 'Add' && type != 'Edit'">
      <div class="mb-3">
        <label class="col-form-label">Platform*</label>
        <ng-select
          [(ngModel)]="platform"
          [multiple]="false"
          [placeholder]="platform ? platform : 'Select'"
          name="selectRole"
          style="width: auto"
          [clearable]="false"
          [disabled]="type == 'View'"
        >
          <ng-option *ngFor="let role of roleList" [value]="role.value">
            {{ role.value }}
          </ng-option>
        </ng-select>
      </div>
    </div> -->

    <div class="col-12" *ngIf="type != 'Add' && type != 'Edit'">
      <div class="mb-3">
        <label class="col-form-label">Platforms and Roles</label>
        <app-table
          *ngIf="!loadingInProgress"
          [headArray]="headArray"
          [dataArray]="tableData">
        </app-table>
      </div>
    </div>

    <div class="col-12" *ngIf="type !== 'View'">
      <div class="mb-3">
        <label class="col-form-label">Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="password"
          name="password"
        />
      </div>
    </div>

    <div class="col-12" *ngIf="type !== 'View'">
      <div class="mb-3">
        <label class="col-form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
        />
      </div>
    </div>

    <div class="col-12 mx-auto">
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success btn-label mt-3">
          <i class="bi {{ buttonIcon }} label-icon align-middle fs-16 me-2"></i
          >{{ buttonName }}
        </button>

        <!--Cancel button-->
        <button
          type="button"
          class="btn btn-danger btn-label mt-3 ms-2"
          (click)="activeModal.dismiss()">
          
          <i class="bi {{ cancelButtonIcon }} label-icon align-middle fs-16 me-2"></i>{{ cancelButtonName }}
        </button>
      </div>
    </div>
  </div>
</form>

<div class="modal-footer"></div>
