<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="row align-items-center" *ngIf="loadingInProgress">
  <app-waiting-circle></app-waiting-circle>
</div>

<div class="row mb-3 mx-1  {{ loadingInProgress ? 'hidden' : '' }}">
<div class="row mb-3 mx-1">
  <div class="card">
    <div class="card-header">
      <div class="row d-flex">
        <div class="col-lg-5 col-xxl-7 mt-1"><h2>Platforms</h2></div>

        <div class="form-outline col-sm-5 col-lg-4 col-xxl-3 mt-2 mx-0">
          <input
            (keyup)="getSearchTerm($event)"
            [(ngModel)]="searchTerm"
            type="text"
            id="searchKey"
            class="form-control input-sm"
            placeholder="Search platform by name"
          />
        </div>

        <div class="col-6 col-lg-3 col-xl-2 col-md-6 col-sm-6 mt-2 d-flex flex-column justify-content-end">
          <a
            class="btn btn-primary float-end"
            style="margin-right: 2"
            (click)="onAddPlatformButtonClicked()"
          >
            <i
              class="bi bi-plus-square-fill label-icon align-middle fs-16 fs-sm-14 me-1"
            ></i>
            Add Platform</a
          >
        </div>
      </div>
    </div>

    <div class="card-body pb-3">
      <app-table
        *ngIf="!loadingInProgress"
        [headArray]="headArray"
        [dataArray]="tableData"
        [dataTableOptions]="platformConfigTableOptions"
        [totalRowsInSelection]="totalDataCount"
        [selectedPageSize]="selectedPageSize"
        [selectedPage]="selectedPage"
        (onPaginationChanged)="onPaginationChange($event)"
        (onPagesizeChanged)="onPagesizeChange($event)"
        (onEdit)="onEditButtonClicked($event)"
        (onDelete)="deletePlatforms($event)"
        (onRowDoubleClick)="onViewButtonClicked($event)"
        (dblClick)="onViewButtonClicked($event)"
        (onViewPlaformUsers)="onViewPlatformUsers($event)"
      >
      </app-table>
    </div>
  </div>
</div>
