<div class="page">
    <div class="wrapper">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" autocomplete="off" novalidate>
            <h1>Reset Password</h1>
            <div class="input-box">
                <input type="{{ hidePassword1 ? 'password' : 'text' }}" formControlName="password" name="password"
                    id="password" placeholder="Password">
                <i (click)="togglePasswordVisibility1()"
                    class="pw-toggle bi {{ hidePassword1 ? 'bi-eye-slash' : 'bi-eye' }}"></i>
            </div>

            <div class="input-box">
                <input type="{{ hidePassword2 ? 'password' : 'text' }}" formControlName="password" name="password"
                    id="password" placeholder="Confirm Password">
                <i (click)="togglePasswordVisibility2()"
                    class="pw-toggle bi {{ hidePassword2 ? 'bi-eye-slash' : 'bi-eye' }}"></i>
            </div>
            <button type="submit" class="button">Reset Password</button>
            <p class="m-0 p-0 mt-3">If password reset is success, go back to the <a [routerLink]="['/login']">login
                    page</a> and login with new password</p>
        </form>
    </div>
</div>