.data-box {
    border: 1px solid #e0e0e0;
    height: auto;
    padding: 10px;
    border-radius: 2%;
    background-color: #f8f8f8;
    color: rgb(92, 92, 92);
    width: 100%; /* Set a width that fits your layout */
  }