<div class="modal-header">
  <h5 class="modal-title fs-4" id="addReadingsModal">{{ modalTitle }}</h5>
  <button
    id="btnCommonModalClose"
    type="button"
    class="bg-transparent border-0"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">
      <i class="bi bi-x-lg text-dark"></i>
    </span>
  </button>
</div>

<div class="modal-body">
  <div class="data-box">
    {{ details }}
  </div>
  <div class="input-group"></div>
</div>

<div class="modal-footer"></div>
