<!-- <div class="row align-items-center" *ngIf="loadingInProgress">
  <app-waiting-circle></app-waiting-circle>
</div> -->

<!-- <div class="row mb-0 mx-1 {{ loadingInProgress ? 'hidden' : '' }}"> -->
<div class="row mb-0 mx-1">
  <div class="card col-lg-6 mx-auto">
    <div class="card-body pb-3">
      <div class="row">
        <div class="card-body">
          <div class="row align-items-end">
            <div>
              <div class="row mb-3 align-items-baseline">
                <div class="col-3">
                  <label class="form-label">Year</label>
                </div>
                <div class="col-9">
                  <select
                    class="form-select"
                    aria-label="Year"
                    [(ngModel)]="selectedYear"
                  >
                    <!-- <option selected value="">Select...</option> -->
                    <option *ngFor="let item of yearList" [value]="item.value">
                      {{ item.value }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row mb-3 align-items-baseline">
                <div class="col-3">
                  <label class="form-label">Month</label>
                </div>
                <div class="col-9">
                  <select
                    class="form-select"
                    aria-label="Month"
                    [(ngModel)]="selectedMonth"
                  >
                    <!-- <option selected value="">Select...</option> -->
                    <option *ngFor="let item of monthList" [value]="item.id">
                      {{ item.value }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="row mb-3 align-items-baseline">
                <div class="col-3">
                  <label class="form-label">Tenant</label>
                </div>
                <div class="col-9">
                  <select
                    class="form-select"
                    aria-label="Month"
                    [(ngModel)]="selectedTenant"
                  >
                    <option selected value="">Select...</option>
                    <option *ngFor="let item of tenantList" [value]="item.id">
                      {{ item.value }}
                    </option>
                  </select>
                </div>
              </div>

              <!-- <div class="row mb-3 align-items-baseline">
                <div class="col-3">
                  <label for="nameInput" class="form-label">Unit Name</label>
                </div>
                <div class="col-9">
                  <div class="row">
                    <div class="col-12 col-md-9">
                      <input type="text" class="form-control" disabled value="{{ unitName }}">
                    </div>
                    <div class="col-12 col-md-3 d-flex justify-content-end align-items-center mt-2 mt-md-0">
                      <app-right-tree-node ButtonName="Units" ButtonColor="btn-dark"
                        ButtonIcon="bi-box-fill"></app-right-tree-node>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-3 align-items-baseline">
                <div class="col-3">
                  <label class="form-label">Service</label>
                </div>
                <div class="col-9">
                  <select class="form-select" aria-label="Service" [(ngModel)]="selectedService">
                    <option selected value="">Select...</option>
                    <option *ngFor="let item of serviceList" [value]="item.id">{{item.value}}</option>
                  </select>
                </div>
              </div>

              <div class="row mb-3 align-items-baseline">
                <div class="col-3">
                  <label for="nameInput" class="form-label">Unit Code</label>
                </div>
                <div class="col-9">
                  <input type="text" class="form-control" disabled value="{{ unitCode }}">
                </div>
              </div> -->
            </div>

            <div class="col-12 d-flex justify-content-end">
              <div class="mb-2">
                <button
                  (click)="generate()"
                  type="button"
                  class="btn btn-success btn-label me-3"
                >
                  <i
                    class="bi bi-hourglass-bottom label-icon align-middle fs-16 me-2"
                  ></i
                  >Generate
                </button>
              </div>

              <div class="mb-2">
                <button
                  (click)="generateAll()"
                  type="button"
                  class="btn btn-primary btn-label me-3"
                >
                  <i
                    class="bi bi-hourglass-split label-icon align-middle fs-16 me-2"
                  ></i
                  >Generate All
                </button>
              </div>

              <div class="mb-2">
                <button
                  (click)="reGenerate()"
                  type="button"
                  class="btn btn-danger btn-label"
                >
                  <i
                    class="bi bi-arrow-clockwise label-icon align-middle fs-16 me-2"
                  ></i
                  >Re-Generate
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="col-lg-7 mx-auto mt-5">

  <div>

    <div class="row mb-3 align-items-baseline">
      <div class="col-3">
        <label for="nameInput" class="form-label">Unit Name</label>
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-12 col-md-9">
            <input type="text" class="form-control" disabled value="{{ unitName }}">
          </div>
          <div class="col-12 col-md-3 d-flex justify-content-end align-items-center mt-2 mt-md-0">
            <app-right-tree-node ButtonName="Units" ButtonColor="btn-dark"
              ButtonIcon="bi-box-fill"></app-right-tree-node>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3 align-items-baseline">
      <div class="col-3">
        <label class="form-label">Service</label>
      </div>
      <div class="col-9">
        <select class="form-select" aria-label="Service" [(ngModel)]="selectedService">
          <option selected value="">Select...</option>
          <option *ngFor="let item of serviceList" [value]="item.id">{{item.value}}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3 align-items-baseline">
      <div class="col-3">
        <label for="nameInput" class="form-label">Tenant</label>
      </div>
      <div class="col-9">
        <input type="text" class="form-control" disabled value="{{ tenantName }}">
      </div>
    </div>

    <div class="row mb-3 align-items-baseline">
      <div class="col-3">
        <label for="nameInput" class="form-label">Unit Code</label>
      </div>
      <div class="col-9">
        <input type="text" class="form-control" disabled value="{{ unitCode }}">
      </div>
    </div>



    <div class="row mb-3 align-items-baseline">
      <div class="col-3">
        <label class="form-label">Year</label>
      </div>
      <div class="col-9">
        <select class="form-select" aria-label="Year" [(ngModel)]="selectedYear">
          <option selected value="">Select...</option>
          <option *ngFor="let item of yearList" [value]="item.id">{{item.value}}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3 align-items-baseline">
      <div class="col-3">
        <label class="form-label">Month</label>
      </div>
      <div class="col-9">
        <select class="form-select" aria-label="Month" [(ngModel)]="selectedMonth">
          <option selected value="">Select...</option>
          <option *ngFor="let item of monthList" [value]="item.id">{{item.value}}</option>
        </select>
      </div>
    </div>


  </div>

  <div class="col-12 d-flex justify-content-end">
    <div class="mb-3">
      <button type="button" class="btn btn-success btn-label me-3">
        <i class="bi bi-eye label-icon align-middle fs-16 me-2"></i> View</button>
    </div>

    <div class="mb-3">
      <button type="button" class="btn btn-primary btn-label">
        <i class="bi bi-download label-icon align-middle fs-16 me-2"></i> Download</button>
    </div>
  </div>

</div> -->
