<div class="page">
    <div class="wrapper">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()" autocomplete="off" novalidate>
            <h1>Forgot your password?</h1>
            <p>No problem. Just let us know your email address and we will email you a password reset link that will
                allow you to choose a new one.</p>
            <div class="input-box">
                <input type="email" name="email" id="email" formControlName="email" placeholder="Email" required
                    autofocus>
                <i class='bi bi-envelope'></i>
            </div>
            <button type="submit" class="button">Submit</button>
            <p class="m-0 p-0 mt-3">I remember my credentials, go back to <a [routerLink]="['/login']">login page.</a>
            </p>
        </form>
    </div>
</div>