<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>


<div class="card">
    <div class="card-body">
        <div class="wrapper">
            <nav class="nav">
                <div class="nav-logo">
                    <p>USER MANAGEMENT SYSTEM</p>
                </div>
            </nav>
            <div class="form-box">
                <div class="login-container" id="login">
                    <div class="top">
                        <header>Forgot Password</header>
                    </div>
                    <div *ngIf="showError" style="color: red; font-size: medium; font-weight: bold;">
                        {{errorMessage}}
                    </div>
                    <div *ngIf="showSuccess" style="color: rgb(60, 255, 0); font-size: medium; font-weight: bold;">
                        {{successMessage}}
                    </div>
                    <form [formGroup]="forgotPasswordForm" autocomplete="off" novalidate (ngSubmit)="forgotPassword()">
                        <div class="input-box ">
                            <div class="input-box">
                                <input type="email" id="email" class="input-field" placeholder="Email" formControlName = "email" name="email">
                                <i class="bi bi-envelope-at"></i>
                            </div>
                            <div class="col-md-5">
                                <em *ngIf="validateControl('email') && hasError('email', 'required')" style="color: red; font-size: medium; font-weight: bold;">Email is required</em>
                            </div>
                        </div>
                        <br>
                        <div class="mb-3 row">
                            <div class="input-box">
                                <button type="submit" class="submit" value="Sign In" [disabled]="!forgotPasswordForm.valid">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
  
