<div class="dropdown" ngbDropdown>

    <button class="btn btn-link text-muted p-1 mt-n2 py-0 text-decoration-none fs-15 arrow-none"
        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ngbDropdownToggle>
        <!-- <i-feather name="more-vertical" class="icon-sm"></i-feather> -->
    </button>

    <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
        <a class="dropdown-item" routerLink="/projects/overview"><i
                class="ri-file-excel-fill align-bottom me-2 text-muted"></i> Export as Excel</a>
    </div>

</div>