<!-- <div class="row align-items-center" *ngIf="loadingInProgress">
  <app-waiting-circle></app-waiting-circle>
</div> -->

<!-- <div class="row mb-3 mx-1  {{ loadingInProgress ? 'hidden' : '' }}"> -->
<div class="row mb-3 mx-1">
  <div class="card">
    <div class="card-body pb-3">
      <div class="row">
        <div class="card-body">
          <div class="row align-items-end">
            <div class="col-6 col-lg-2">
              <div class="mb-3">
                <label class="col-form-label">Year</label>
                <select
                  class="form-select"
                  aria-label="Year"
                  [(ngModel)]="selectedYear"
                  (change)="getAutoMeterReadings()"
                >
                  <!-- <option selected value="">Select...</option> -->
                  <option *ngFor="let item of yearList" [value]="item.value">
                    {{ item.value }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-6 col-lg-2">
              <div class="mb-3">
                <label class="col-form-label">Month</label>
                <select
                  class="form-select"
                  aria-label="Month"
                  [(ngModel)]="selectedMonth"
                  (change)="getAutoMeterReadings()"
                >
                  <!-- <option selected value="">Select...</option> -->
                  <option *ngFor="let item of monthList" [value]="item.id">
                    {{ item.value }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-12 col-lg-2 px-lg-0">
              <div class="mb-3">
                <label for="unitName" class="col-form-label">Unit</label>
                <div class="row">
                  <div class="col-10 col-lg-9">
                    <input
                      id="unitName"
                      type="text"
                      class="form-control"
                      disabled
                      value="{{ unitName }}"
                      [(ngModel)]="unitName"
                    />
                  </div>
                  <div class="col-2 col-lg-3 d-flex justify-content-end">
                    <div>
                      <app-right-tree-node
                        *ngIf="!loadingInProgress"
                        ButtonName="Units"
                        ButtonColor="btn-dark"
                        ButtonIcon="bi-box-fill"
                        (UnitSelectionChanged)="getSelectedUnitFromTree($event)"
                        [selectedUnitId]="this.unitId"
                      >
                      </app-right-tree-node>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="mb-3">
                <label class="col-form-label">Meter</label>
                <select
                  class="form-select"
                  aria-label="Service"
                  [(ngModel)]="selectedMeterCode"
                  (change)="getAutoMeterReadings()"
                >
                  <option selected value="">Select...</option>
                  <option *ngFor="let item of meterList" [value]="item.id">
                    {{ item.value }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-6 col-lg-3">
              <div class="mb-3">
                <label for="nameInput" class="form-label">Service</label>
                <input
                  id="nameInput"
                  type="text"
                  class="form-control"
                  disabled
                  value="{{ service }} {{ this.serviceUnit }}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-table
        *ngIf="!loadingInProgress"
        [headArray]="headArray"
        [dataArray]="tableData"
        [dataTableOptions]="extensionTableOptions"
        [totalRowsInSelection]="totalDataCount"
        [selectedPageSize]="selectedPageSize"
        [selectedPage]="selectedPage"
        (onPaginationChanged)="onPaginationChange($event)"
        (onPagesizeChanged)="onPagesizeChange($event)"
        (onReportGenerateClick)="downloadExcel()"
      >
      </app-table>
    </div>
  </div>
</div>
