<div class="row align-items-center" *ngIf="loadingInProgress">
  <app-waiting-circle></app-waiting-circle>
</div>


<div class="row mb-3 mx-1  {{ loadingInProgress ? 'hidden' : '' }}">
  <div class="row mb-3 mx-1">
    <div class="card">
      <div class="card-header">
        <div class="row h-auto">
          <div class="col-lg-5 d-flex align-items-center">
            <h2 class="p-0 m-0">Users</h2>
          </div>

          <div class="col-lg-2">
            <select [(ngModel)]="selectedPlatform" [multiple]="false" (change)="onPlatformSelect()" name="comboBox"
              class="form-select">
              <option *ngFor="let item of platformListDefault" [value]="item.id">
                {{ item.value }}
              </option>
            </select>
          </div>

          <div class="col-lg-3">
            <input (keyup)="getSearchTerm($event)" [(ngModel)]="searchTerm" type="text" id="searchKey"
              class="form-control input-sm" placeholder="Search user by username / firstName / LastName" />
          </div>

          <div class="col-lg-3 p-0 w-auto">
            <button type="button" class="btn btn-primary float-end" (click)="onBulkUsersClicked()">
              <i class="bi bi-people-fill label-icon align-middle fs-16 me-2"></i>
              Add Bulk Users</button>

            <button type="button" class="btn btn-primary float-end me-3" (click)="onAddUserButtonClicked()">
              <i class="bi bi-person-plus-fill label-icon align-middle fs-16 me-2"></i>
              Add User</button>
          </div>
        </div>
      </div>

      <div class="card-body pb-3">
        <app-table *ngIf="!loadingInProgress" [headArray]="headArray" [dataArray]="tableData"
          [dataTableOptions]="usersViewTableOptions" [totalRowsInSelection]="totalDataCount"
          [selectedPageSize]="selectedPageSize" [selectedPage]="selectedPage"
          (onPaginationChanged)="onPaginationChange($event)" (onPagesizeChanged)="onPagesizeChange($event)"
          (onEdit)="onEditButtonClicked($event)" (onDelete)="deleteUsers($event)"
          (onRowDoubleClick)="onViewButtonClicked($event)" (dblClick)="onViewButtonClicked($event)">
        </app-table>
      </div>
    </div>
  </div>
</div>