<div class="row align-items-center" *ngIf="loadingInProgress">
  <app-waiting-circle></app-waiting-circle>
</div>


<div class="row mb-3 mx-1  {{ loadingInProgress ? 'hidden' : '' }}">
  <div class="row mb-3 mx-1">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-lg-2 col-xl-4 d-flex align-items-center">
            <h2 class="p-0 m-0">Users</h2>
          </div>

          <div class="col-12 col-md-12 col-lg-2 mt-2">
            <select [(ngModel)]="selectedPlatform" [multiple]="false" (change)="onPlatformSelect()" name="comboBox"
              class="form-select">
              <option *ngFor="let item of platformListDefault" [value]="item.id">
                {{ item.value }}
              </option>
            </select>
          </div>

          <div class="col-lg-2 p-0 mt-2">
            <input (keyup)="getSearchTerm($event)" [(ngModel)]="searchTerm" type="text" id="searchKey"
              class="form-control input-sm" placeholder="Search user by name" />
          </div>

          <div class="col-12 col-lg-3 col-xl-2 col-md-12 col-sm-12 mt-sm-2 mt-md-2 mt-sm-2 mt-2 d-flex flex-column justify-content-end">
            <button type="button" class="btn btn-primary me-2" (click)="onAddUserButtonClicked()">
              <i class="bi bi-person-plus-fill label-icon align-middle fs-16"></i>
              Add User</button>
          </div>

          <div class = "col-12 col-lg-3 col-xl-2 col-md-12 col-sm-12 mt-sm-2 mt-md-2 mt-sm-2 mt-2 d-flex flex-column justify-content-end">
            <button type="button" class="btn btn-primary" (click)="onBulkUsersClicked()">
              <i class="bi bi-people-fill label-icon align-middle fs-16 me-0"></i>
              Add Bulk Users</button>
          </div>

          <!-- <div class="col-12 mt-2 col-sm-6 col-lg-5 col-xl-4 d-flex flex-row justify-content-between bg-success">

            <button type="button" class="btn btn-primary me-2" (click)="onAddUserButtonClicked()">
              <i class="bi bi-person-plus-fill label-icon align-middle fs-16 me-2"></i>
              Add User</button>

            <button type="button" class="btn btn-primary" (click)="onBulkUsersClicked()">
              <i class="bi bi-people-fill label-icon align-middle fs-16 me-0"></i>
              Add Bulk Users</button>

          </div> -->
        </div>
      </div>

      <div class="card-body pb-3">
        <app-table *ngIf="!loadingInProgress" [headArray]="headArray" [dataArray]="tableData"
          [dataTableOptions]="usersViewTableOptions" [totalRowsInSelection]="totalDataCount"
          [selectedPageSize]="selectedPageSize" [selectedPage]="selectedPage"
          (onPaginationChanged)="onPaginationChange($event)" (onPagesizeChanged)="onPagesizeChange($event)"
          (onEdit)="onEditButtonClicked($event)" (onDelete)="deleteUsers($event)"
          (onRowDoubleClick)="onViewButtonClicked($event)" (dblClick)="onViewButtonClicked($event)">
        </app-table>
      </div>
    </div>
  </div>
</div>