<!-- ==============New================== -->

<div class="row align-items-center" *ngIf="loadingInProgress">
  <app-waiting-circle></app-waiting-circle>
</div>

<div class="row mb-4 mx-1  {{ loadingInProgress ? 'hidden' : '' }}">
  <div class="row mb-3 mx-1">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-2 col-lg-3 mt-1"><h2>Roles</h2></div>
  
          <div class="col-4 col-lg-4 mt-1">
            <a
              class="btn btn-primary float-end"
              style="margin-right: 3"
              (click)="onAddRoleButtonClicked()"
            >
              <i
                class="bi bi-plus-square-fill label-icon align-middle fs-16 me-2"
              ></i>
              Add Role</a
            >
          </div>
  
          <!-- <div class="col-2 col-lg-2 mt-1">
            <select
              class="form-select"
              aria-label="Platform"
              [(ngModel)]="selectedRole"
              (change)="loadData()"
            >
              <option *ngFor="let item of roleList" [value]="item.value">
                {{ item.value }}
              </option>
            </select>
          </div> -->

          <div class="col-2 col-lg-2 mt-2">
            <ng-select
              [(ngModel)]="selectedPlatform"
              [multiple]="false"
              (change)="onPlatformSelect()"
              [placeholder]="platformListDefault[0].value"
              name="comboBox"
              [clearable]="false"
            >
              <ng-option
                *ngFor="let item of platformListDefault"
                [value]="item.id"
              >
                {{ item.value }}
              </ng-option>
            </ng-select>
          </div>
  
          <div class="form-outline col-3 col-lg-3 mt-1">
            <input
              (keyup)="getSearchTerm($event)"
              [(ngModel)]="searchTerm"
              type="text"
              id="searchKey"
              class="form-control input-sm"
              placeholder="Search Role"
            />
          </div>
        </div>
      </div>
  
      <div class="card-body pb-3">
        <app-table
        *ngIf="!loadingInProgress"
        [headArray]="headArray"
        [dataArray]="tableData"
        [dataTableOptions]="roleConfigTableOptions"
        [totalRowsInSelection]="totalDataCount"
        [selectedPageSize]="selectedPageSize"
        [selectedPage]="selectedPage"
        (onPaginationChanged)="onPaginationChange($event)"
        (onPagesizeChanged)="onPagesizeChange($event)"
        (onEdit)="onEditButtonClicked($event)"
        (onDelete)="deleteRoles($event)"
        (onApproval)="activateRoles($event)"
        (onReject)="deactivateRoles($event)"
        (onRowDoubleClick)="onViewButtonClicked($event)"
        (dblClick)="onViewButtonClicked($event)"
        (onViewPermission)="onViewPermissionButtonClicked($event)">
        </app-table>
      </div>
    </div>
  </div>
  

<!-- ==============New================== -->

<!-- <div class="row mt-3 px-lg-5"> -->

<!-- <div class="col-12 col-lg-4 mb-3">
    <div class="border border-0 border-dark-subtle px-3 rounded" style="height: 485px; overflow-y: scroll;">
      <app-treeview-checkbox [selectParentNodes]="true" [checkboxesOnLeafNodes]="false"
        [treeDataSource]="asseteTreeData"
        (onAsseteTreeItemSelected)="onAsseteTreeChanged($event)"></app-treeview-checkbox>
    </div>
  </div>

  <div class="col-lg-1">

  </div> -->

<!-- ------------ Separate------------------- -->

<!-- <div class="row mt-4 px-lg-3 mx-auto">
    <div class="row mb-3  justify-content-between">

      <div class="col-lg-2 align-items-center mb-3">
        <div class="row">
          <div class="col-3 text-start">
            <label class="col-form-label">Year</label>
          </div>
          <div class="col-9">
            <select class="form-select" aria-label="Year" [(ngModel)]="selectedYear">
              <option selected value="">Select...</option>
              <option *ngFor="let item of yearList" [value]="item.id">{{item.value}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-3 align-items-center mb-3">
        <div class="row">
          <div class="col-3 text-start">
            <label class="col-form-label">Month</label>
          </div>
          <div class="col-9">
            <select class="form-select" aria-label="Month" [(ngModel)]="selectedMonth">
              <option selected value="">Select...</option>
              <option *ngFor="let item of monthList" [value]="item.id">{{item.value}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-3 align-items-center mb-3">
        <div class="row">
          <div class="col-3 text-start">
            <label class="col-form-label">Tenant</label>
          </div>
          <div class="col-9">
            <select class="form-select" aria-label="Tenant" [(ngModel)]="selectedTenant">
              <option selected value="">Select...</option>
              <option *ngFor="let item of tenantList" [value]="item.id">{{item.value}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-lg-3 align-items-center mb-3">
        <div class="row">
          <div class="col-9 col-md-10 col-lg-7">
            <input type="text" class="form-control" disabled value="{{ unitName }}">
          </div>
          <div class="col-3 col-md-2 col-lg-5 mx-auto d-flex justify-content-end align-items-center">
            <app-right-tree-node ButtonName="Units" ButtonColor="btn-dark"
              ButtonIcon="bi-box-fill"></app-right-tree-node>
          </div>
        </div>
      </div>

    </div>

    <div class="row mb-3">
      <app-table></app-table>
    </div>

  </div>

  <hr> -->

<!-- -------------------------Sparate------------------- -->

<!-- <div class="col-12 col-lg-7 mx-auto">

    <div>

      <div class="row mb-3 align-items-baseline bg-body">
        <div class="col-3">
          <label for="nameInput" class="form-label">Unit Name</label>
        </div>
        <div class="col-9">
          <div class="row">
            <div class="col-12 col-md-9">
              <input type="text" class="form-control" disabled value="{{ unitName }}">
            </div>
            <div class="col-12 col-md-3 d-flex justify-content-end align-items-center mt-2 mt-md-0">
              <app-right-tree-node ButtonName="Units" ButtonColor="btn-dark"
                ButtonIcon="bi-box-fill"></app-right-tree-node>
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-3 align-items-baseline">
        <div class="col-3">
          <label for="nameInput" class="form-label">Tenant</label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control" disabled value="{{ tenantName }}">
        </div>
      </div>

      <div class="row mb-3 align-items-baseline">
        <div class="col-3">
          <label for="nameInput" class="form-label">Unit Code</label>
        </div>
        <div class="col-9">
          <input type="text" class="form-control" disabled value="{{ unitCode }}">
        </div>
      </div>

      <div class="row mb-3 align-items-baseline">
        <div class="col-3">
          <label class="form-label">Year</label>
        </div>
        <div class="col-9">
          <select class="form-select" aria-label="Year" [(ngModel)]="selectedYear">
            <option selected value="">Select...</option>
            <option *ngFor="let item of yearList" [value]="item.id">{{item.value}}</option>
          </select>
        </div>
      </div>

      <div class="row mb-3 align-items-baseline">
        <div class="col-3">
          <label class="form-label">Month</label>
        </div>
        <div class="col-9">
          <select class="form-select" aria-label="Month" [(ngModel)]="selectedMonth">
            <option selected value="">Select...</option>
            <option *ngFor="let item of monthList" [value]="item.id">{{item.value}}</option>
          </select>
        </div>
      </div>


    </div>

    <div class="col-12 d-flex justify-content-end">
      <div class="mb-3">
        <button type="button" class="btn btn-success btn-label me-3">
          <i class="bi bi-eye label-icon align-middle fs-16 me-2"></i> View</button>
      </div>

      <div class="mb-3">
        <button type="button" class="btn btn-primary btn-label">
          <i class="bi bi-download label-icon align-middle fs-16 me-2"></i> Download</button>
      </div>
    </div>

  </div>

</div> -->
